<template>
    <div>
        <SearchJokes v-on:search-text="searchText"/>
        <h1>hdhdh</h1>
     <alljoke v-for="joke in jokes" :key="joke.id" :id="joke.id"
      :joke="joke.joke"  />
    </div>
</template>
<script>
import axios from 'axios'
import alljoke from '../../components/Jokes.vue'
import SearchJokes from "../../components/Searchjokes"
export default {
    components: {
     alljoke,
     SearchJokes
    },
    data(){
        return{
            jokes:[]
        }
    },
  async  created(){
    const config = {
        headers: {
            'Accept':'application/json'
        }
    }
    try {
        const res = await axios.get('https://icanhazdadjoke.com/search',config);
        console.log(res.data);
        this.jokes=res.data.results;
    } catch (error) {
        console.log(error);
    }


    },
    methods:{
    async searchText(text){
        const config = {
        headers: {
            'Accept':'application/json'
        }
    }
    try {
        const res = await axios.get(`https://icanhazdadjoke.com/search?term=${text}`,config);
        console.log(res.data);
        this.jokes=res.data.results;
    } catch (error) {
        console.log(error);
    }
     }
    },
    head()
    {
        return{
            title:"Jokes",
            meta:[
                {
                    hid:"description",
                    name:"description",
                    content:"best place for Jokes"
                }
            ]
        }
    }
    
}
</script>
<style scoped>

</style>