<template>
<nuxt-link :to="'jokes/' + id">
<div class="joke">
        <p>{{joke}}</p>
    </div></nuxt-link>
    
</template>
<script>
export default {
    create(){
        console.log("jhdhvde")
     console.log(joke);
    },
   props:['joke','id']
}
</script>
<style >
.joke{
    padding: 1rem;
    border: 1px dotted #ccc;
    margin: 1rem 0;
}
</style>