<template>
<div>
    <h1>About Jokes</h1>
    <p>This is an app that displays jokes</p>
</div>
    
</template>
<script>
export default {
    head()
    {
        return{
            title:"About The App",
            meta:[
                {
                    hid:"description",
                    name:"description",
                    content:"best place for Jokes"
                }
            ]
        }
    }
}
</script>
<style scoped>

</style>