<template>
  <div class="container">
    <h2>Welcome to the best jokes app on the wed</h2>
  </div>
</template>

<script>
export default {
    head()
    {
        return{
            title:"Welcome to the Jokes",
            meta:[
                {
                    hid:"description",
                    name:"description",
                    content:"best place for Jokes"
                }
            ]
        }
    }
}
</script>


